:root {
    --color-blue: #071d49;
    --color-yellow: #FFB81D;
    --color-red: #AA0200;
    --color-bg: #fff;
    --color-text: #000000;
    --semitransparent: rgba(255, 255, 255, 0.502);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Header/title */

header,
footer {
    border-top: 15px solid var(--color-red);
    border-bottom: 15px solid var(--color-red);
}

.title-container {
    display: grid;
    background-color: var(--color-blue);
    color: #ffff;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: large;
    padding: 30px;
}

/* Main body */

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section {
    border-bottom: 1px solid var(--color-yellow);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

section.first h2,
section.second h2 {
    margin: 15px;
    font-weight: 700;
    font-size: 30px;
}

.first,
.second {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data-list {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2px 8px;
    padding: 15px;
    font-size: 16px;
}

.data-list dt {
    font-weight: 700;
    text-align: right;
    margin-left: 10px;
}

.data-list dd {
    text-align: left;
    margin-right: 10px;
}

.first,
.second {
    background-color: var(--color-bg);
    color: var(--color-text);
    place-items: center;
    text-align: center;
    margin: 2px;
}

.weather-header img {
    margin-bottom: 10px;
    width: 55px;
    height: 55px;
    align-self: center;
    justify-self: center;
}

/* Footer */

footer {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: var(--color-blue);
    color: #fff;
    font-size: 20px;
    padding: 30px;
}


:root {
    --color-blue: #050d1b;
    --color-yellow: #b7330b;
    --color-red: #e2d81ae3;
    --color-bg: #fff;
    --color-text: #000000;
    --semitransparent: #ffffffa7;
}

@media (min-width: 650px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: #fff;
        background-color: var(--color-blue);
    }
    header,
    footer {
        border-top: 12px solid var(--color-yellow);
        border-bottom: 12px solid var(--color-yellow);
    }
    main {
        position: relative;
        padding: 0;
        margin: 0;
    }
    h2 {
        color: #fff;
        text-align: left;
        font-size: 30px;
    }
    .data-header h2 {
        width: 250px;
    }
    .weather-header h2 {
        width: 320px;
    }
    section {
        position: absolute;
        width: auto;
        padding: 10px;
        box-shadow: 0 0 15px #6d6d6d85;
        border-radius: 5px;
        border-bottom: none;
    }
    section.first,
    section.second {
        background-color: var(--semitransparent);
    }
    section.first {
        top: 3rem;
        left: 3rem;
    }
    section.second {
        bottom: 3rem;
        right: 3rem;
    }
    section.first h2,
    section.second h2 {
        border-radius: 12px;
        background-color: var(--color-red);
        margin-left: -50px;
        padding: 25px;
        margin-top: 0;
    }
    .weather-header {
        position: relative;
    }
    .weather-header h2::after {
        content: '⛅️';
        padding-left: 1rem;
    }
    .weather-header img {
        display: none;
    }
}