/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typography */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

/* Layout */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #3a4520;
    color: rgb(227, 215, 215);
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: rgb(206, 172, 172);
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
    background-color: #c09999;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    position: relative;
    overflow: hidden;
}

.card img.profile-image {
    float: right;
    width: 150px; /* Adjust size as needed */
    height: 150px; /* Adjust size as needed */
    border-radius: 50%;
    margin-left: 20px; /* Space between text and image */
    object-fit: cover;
    object-position: center;
}

.card h2 {
    background-color: #2cbeb7;
    color: rgb(54, 45, 45);
    padding: 10px;
    margin-top: -20px;
}

footer {
    background-color: #183120;
    color: white;
    text-align: center;
    padding: 20px;
}
