@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

@media screen and (min-width: 500px) {
    * {
        margin: 0 auto;
        font-family: 'Merriweather', serif;
    }
    header {
        background-color: #305997;
        display: flex;
    }
    #menu {
        display: none;
    }
    header h1 {
        color: white;
        display: flex;
        align-items: center;
    }
    nav {
        display: flex;
    }
    nav a {
        color: white;
        text-decoration: none;
        padding: 24px;
    }
    nav a:hover {
        color: #3e73a9;
        background-color: white;
    }
    main {
        padding: 36px;
    }
    main h1 {
        text-align: center;
        font-size: 24px;
    }
    .temples-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align-last: center;
        padding: 16px;
    }
    .temple-image img {
        padding: 16px;
        width: 90%;
        border-radius: 26px;
    }
    footer {
        padding: 10px;
        background-color: #40698c;
        color: white;
        text-align: center;
    }
    #lastModified {
        color: #FDFE4C;
        font-size: 12px;
    }
}
